<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="js/chart.min.js"></script>
    </head>
    <body>
        <div style="width: 500px; height: 500px">
            <canvas id="hr"></canvas>
            <hr/>
            <canvas id="test3"></canvas>
        </div>
        <script th:inline="javascript">
            let reportData = [[${reportData}]];
        </script>
        <script>
            let colors=["red", "blue", "orange", "green", "purple", "black"];
            let index=0;
            for (let chart of reportData.charts) {
                let labels = chart.labels;
                let d = chart.values;

                const data = {
                    labels: labels,
                    datasets: [{
                            label: (chart.name=="test3")?"gsr":chart.name,
                            backgroundColor: colors[index],
                            borderColor: colors[index],
                            data: d
                        }]
                };

                const config = {
                    type: 'line',
                    data: data,
                    options: {}
                };
                const myChart = new Chart(
                        document.getElementById(chart.name),
                        config
                        );
                index++;
            }

        </script>
        <hr/>
        <table style="width: 90%" border="1">
            <tr>
                <td id="ex_img">
                    <img src="img/ex.png" style="width: 200px"/>
                </td>
                <td id="ex_text" th:text="${reportData.assessResults.ex.text}">
                    
                </td>
            </tr>
            <tr>
                <td id="co_img">
                    <img src="img/co.png" style="width: 200px"/>
                </td>
                <td id="co_text" th:text="${reportData.assessResults.co.text}">
                    
                </td>
            </tr>
            <tr>
                <td id="ag_img">
                    <img src="img/ag.png" style="width: 200px"/>
                </td>
                <td id="ag_text" th:text="${reportData.assessResults.ag.text}">
                    
                </td>
            </tr>
            <tr>
                <td id="es_img">
                    <img src="img/es.png" style="width: 200px"/>
                </td>
                <td id="es_text" th:text="${reportData.assessResults.es.text}">
                    
                </td>
            </tr>
            <tr>
                <td id="op_img">
                    <img src="img/op.png" style="width: 200px"/>
                </td>
                <td id="op_text" th:text="${reportData.assessResults.op.text}">
                    
                </td>
            </tr>
        </table>
    </body>
</html>
